.container {
  margin: 0 auto;
  max-width: 480px;
}

.messages-screen {
  min-height: 300px;
  border: 1px solid rgb(172, 172, 172);

}

.send-form {
  padding: 15px 0;
  overflow: hidden;
}

.message-input {
  float:left;
  width: 80%;
}

.send-button {
  width:18%;
  float: right;
}

/*====== speech =======*/
.brif-message:after {
  content:"";
  display:table;
  clear:both;
}

.bubble {
  position: relative;
  float:left;
  padding:0 1em 1em;
  border: 1px solid #7ddbaf;
  border-radius: 10px;
  box-shadow: 1px 1px 2px #6ecb9f;
}

.bubble.owner {
  float: right;
}

.bubble:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 10px;
  top: 100%;
  border: 10px solid;
  border-color: #7ddbaf transparent transparent #7ddbaf;
}

.bubble.owner:before {
  left:auto;
  right: 10px;
  border-color: #7ddbaf #7ddbaf transparent transparent;
}

.bubble:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 12px;
  top: 100%;
  border: 8px solid;
  border-color: #fff transparent transparent #fff;
}

.bubble.owner:after {
  left:auto;
  right: 12px;
  border-color: #fff #fff transparent transparent;
}


.bubble-time {
  font-size: 0.8em;
  color:#a5a5a5;
}

.bubble-text {
  margin: 0;
}

.brif-author {
  clear: both;
  padding-top: 20px;
}

.brif-author.owner {
  text-align: right;
}
