<!DOCTYPE html>
<html ng-app="appChat" lang="en">
<head>
  <meta charset="UTF-8">
  <title>The chat page</title>
  <link rel="stylesheet" href="app/index.css">
</head>
<body ng-controller = "chatCtrl as ctrl">
<div class="container">

   <div class="messages-screen" ng-cloak>
    <div class="brif-message" ng-repeat="brif in ctrl.messagesData">
      <div class="ng-class: ctrl.setBubbleClass(brif.name)">
        <div class="bubble-time">{{brif.time}}</div>
        <p class="bubble-text">{{brif.message}}</p>
      </div>
      <div class="ng-class: ctrl.setNameClass(brif.name)">{{brif.name}}</div>
    </div>
  </div>

   <form class="send-form" name="sendForm" ng-submit="sendMesage()"  novalidate >
    <input type="text" class="message-input" ng-model="textMessage" required>
    <input type="submit" class="send-button" ng-disabled="sendForm.$invalid">
  </form>

</div>

<!-- inject-vendor:js -->
<script src="../bower_components/angular/angular.js"></script>
<!-- inject:js -->
<script src="app/index.module.js"></script>
<script src="app/messages.service.js"></script>
<script src="app/index.controller.js"></script>
</body>
</html>
